<!DOCTYPE html>
<html>
<head>
    <title>Edit Category</title>
</head>
<body>

<h2>Edit Category</h2>

<form method="POST" action="/category/update/<%= category.category_id %>">

    <input type="text"
           name="category_name"
           value="<%= category.category_name %>"
           required>

    <button type="submit">Update</button>
</form>

<br>
<a href="/category">Back</a>

</body>
</html>